<ion-header>
  <ion-toolbar >
    <ion-title>ALL</ion-title>
    <ion-icon name="add" slot="end" size="medium" color='primary' (click)="addNew()" padding> </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="2"> Action</th>
      <!-- <th></th> -->
    </thead>
    <tbody>
      <tr *ngFor= 'let i of person' >
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
        <td (click)='update(i.id)'><ion-icon name='create' color='primary' size='medium'></ion-icon></td>
        <td><ion-icon name='trash' color='danger' size='medium' (click)="delete(i)"></ion-icon></td>
      </tr>
    </tbody>
  </table>
</ion-content>
